In [15]:
import pandas as pd
from sklearn import linear_model

In [17]:
# Inicjalizacja modelu uczenia regresji liniowej oraz zbioru danych
reg = linear_model.LinearRegression()
aviation_data_set = pd.read_csv("data/prepared_data_from_contributors.csv", sep=";")

In [18]:
# ZbiÃ³r danych ---> ktÃ³ry bÄ™dzie uÅ¼ywany w regresji liniowej ðŸ”¥
aviation_data_set

,customer_type,age,type_of_travel,class,flight_distanced,inflight_wifi_service,ease_of_online_booking,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,on-board_service,leg_room_service,baggage_handling,checking_service,inflight_service,cleanliness,average_service_rating,satisfaction
0,1,52,1,0,160,5,3,3,4,3,5,5,5,5,2,5,5,5,1
1,1,36,1,2,2863,1,3,5,4,5,4,4,4,4,3,4,5,"4,333333333",1
2,0,20,1,0,192,2,2,2,2,2,2,4,1,3,2,2,2,"2,666666667",0
3,1,44,1,2,3377,0,0,3,4,4,1,1,1,1,3,1,4,2,1
4,1,49,1,0,1182,2,4,4,1,2,2,2,2,2,4,2,4,"2,666666667",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,0,34,1,2,526,3,3,4,3,4,4,3,2,4,4,5,4,4,0
25972,1,23,1,2,646,4,4,4,4,4,4,4,5,5,5,5,4,"4,333333333",1
25973,1,17,0,0,828,2,1,2,1,2,2,4,3,4,5,4,2,"3,333333333",0
25974,1,14,1,2,1127,3,3,4,4,4,4,3,2,5,4,5,4,4,1
25975,1,42,0,0,264,2,2,4,2,2,1,1,2,1,1,1,1,1,0