In [1]:
from sklearn import linear_model
import pandas as pd

In [4]:
# Inicjalizacja modelu uczenia regresji liniowej oraz zbioru danych
linear_regression_model = linear_model.LinearRegression()
df = pd.read_csv("../data/prepared_data_from_contributors.csv", sep=";")

In [5]:
# ZbiÃ³r danych ---> bÄ™dzie uÅ¼ywany w regresji liniowej ðŸ”¥
df.head()

,customer_type,age,type_of_travel,class,flight_distanced,inflight_wifi_service,ease_of_online_booking,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,on-board_service,leg_room_service,baggage_handling,checking_service,inflight_service,cleanliness,average_service_rating,satisfaction
0,1,52,1,0,160,5,3,3,4,3,5,5,5,5,2,5,5,"5,00",1
1,1,36,1,2,2863,1,3,5,4,5,4,4,4,4,3,4,5,"4,33",1
2,0,20,1,0,192,2,2,2,2,2,2,4,1,3,2,2,2,"2,67",0
3,1,44,1,2,3377,0,0,3,4,4,1,1,1,1,3,1,4,"2,00",1
4,1,49,1,0,1182,2,4,4,1,2,2,2,2,2,4,2,4,"2,67",1

In [7]:
# WstÄ™pna eksploracja przed zmianÄ… typu danych
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_type           25976 non-null  int64
 1   age                     25976 non-null  int64
 2   type_of_travel          25976 non-null  int64
 3   class                   25976 non-null  int64
 4   flight_distanced        25976 non-null  int64
 5   inflight_wifi_service   25976 non-null  int64
 6   ease_of_online_booking  25976 non-null  int64
 7   food_and_drink          25976 non-null  int64
 8   online_boarding         25976 non-null  int64
 9   seat_comfort            25976 non-null  int64
 10  inflight_entertainment  25976 non-null  int64
 11  on-board_service        25976 non-null  int64
 12  leg_room_service        25976 non-null  int64
 13  baggage_handling        25976 non-null  int64
 14  checking_service        25976 non-null  int64
 15  inflight_service        25976 non-null  int64
 16  cleanliness             25976 non-null  int64
 17  average_service_rating  25976 non-null  object
 18  satisfaction            25976 non-null  int64
dtypes: int64(18), object(1)
memory usage: 3.8+ MB

In [21]:
# Implementacja zmiany typu danych na wartoÅ›ci liczbowe
df['average_service_rating'] = df['average_service_rating'].astype(str).str.replace(",", ".").astype(float)